.window {
  border: 1px solid #000e;
  position: relative;
}

.window__header {
  background-color: #2b2b2b;
  min-height: 1.875em;
}

.window__desc {
  padding: 6px 0 0 8px;

  display: flex;
}

.window__icon {
  height: 1.3333em;
  width: 1.3333em;
  background-color: cyan;

  margin-right: 0.25em;
}

.window__title {
  color: #eee;
  font-size: 1em;

  user-select: none;
}

.window_buttons {
}

.window__content {
  background-color: #2a2f38;
  height: 600px;
}

.window__resize-zone {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1em;
  height: 1em;
}

.window__resize-icon {
  position: absolute;
  right: 0.16666em;
  bottom: 0.16666em;
  width: 0.6666em;
  fill: #bfbfbf; /* you should use color */
  height: 0.6666em;
}
