body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.75em;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-background: #343941;
  --color-text: #fff;
}

/* input reset from https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/ */
.input {
  font-size: 1em;
  font-family: inherit;
  padding: 0.25em 0.5em;

  outline: 0;

  color: #fff;
  background-color: #343941;
  border: 1px solid #abadb3;
  line-height: 1;

  overflow-x: visible;
}
